<div *ngIf="!isEditMode">
  <h3>Neue Todo:</h3>
  <input type="text" [(ngModel)]="todoText" />
  <button (click)="addTodo()">OK</button>
</div>
<div *ngIf="isEditMode">
  <h3>Todo bearbeiten:</h3>
  <input type="text" [(ngModel)]="todoText" />
  <button (click)="updateTodo()">OK</button>
</div>

<app-listbox
  [todos]="todos"
  [updateTodoIndex]="updateTodoIndex"
  (editTodoClick)="editTodo($event)"
  (deleteTodoClick)="deleteTodo($event)"
></app-listbox>


<button (click)="goToAboutMe()">About Me</button>
<hr>
<h3>{{jokeText}}</h3>
<!--appAutoInputWidth="400" -->
